@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import './assets/style/marquee.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

	// sm	640px	@media (min-width: 640px) { ... }
	// md	768px	@media (min-width: 768px) { ... }
	// lg	1024px	@media (min-width: 1024px) { ... }
	// xl	1280px	@media (min-width: 1280px) { ... }
	// 2xl	1536px	@media (min-width: 1536px) { ... }

body {
  background: var(--dark);
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
	overflow-y: visible;
	overflow-x: hidden;

	position: relative;
  height: unset;
}

html {
	overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	margin: 0;
}

ul {
	line-height: 1.7;
}
::selection {
  color: var(--dark);
  background: var(--pink);
}


.link {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  display: inline-block;
	font-weight: 600;
	&:hover {
		border-bottom: 1px solid transparent;
	}
}

.label {
	@apply text-sm px-3.5 py-1 rounded-full inline-block ;
}


.text-stroke {
  -webkit-text-stroke: 1px white;
}

.gradient-text {
	background: conic-gradient(
		in hsl longer hue from var(--angle), 
		hsl(0, 100%, 80%) 0 0
	) border-box;
  color: transparent;
  background-clip: text;  
	-webkit-background-clip: text;
	background-size: 150% 250%;
	animation: angle 10s linear infinite;
}

.text-transparent {
  color: transparent;
  background-clip: text;  
	-webkit-background-clip: text;
}

.glow {
  text-shadow: var(--color, white) 0px 0 3px;
}

.transition_6 {
  transition: 0.6s ease;
}
.transition_8 {
  transition: 0.8s ease;
}

.cursor {
  will-change: transform;
  pointer-events: none;
}



.glassmorphism {
	&.white {
		background: rgba(225, 225, 225, 0.05);
	}
	&.dark {
		background: rgba(11, 11, 14, 0.5);
	}
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
}


.clipPath-circle-lg {
	clip-path: circle(45% at 20% 25%);
	@media (min-width: $lg) {
		clip-path: circle(45% at 25% 30%);
	}
}
.clipPath-circle-sm {
	clip-path: circle(20% at 50% 70%);
	@media (min-width: $lg) {
		clip-path: circle(20% at 80% 50%)
	}
}

.clipPath-pill-sm {
	clip-path: inset(5% 5% 5% 5% round 50vw 50vw 50vw 50vw);
	@media (min-width: $md) {
		clip-path: inset(20% 10% 20% 10% round 25vw 25vw 25vw 25vw);
	}
}
.clipPath-pill-lg {
	clip-path: inset(5% 0% 5% 5% round 25vw 0vw 0vw 25vw);
	@media (min-width: $md) {
		clip-path: inset(5% 5% 5% 0% round 25vw 0vw 0vw 25vw);
	}

}

.slider {
	position: absolute;
}
.card {
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  will-change: transform;
	position: relative;
	.content {
		z-index: 1;
		transition: transform 0.3s ease;
	}
}

/* Slight parallax effect on hover */
.card:hover .content {
  transform: translateZ(12px);
	
}

@property --angle {

	syntax: '<angle>'; 
	initial-value: 0deg;
	inherits: false
}

@keyframes angle { to { --angle: 1turn; } }

@keyframes angleFX {
	00.00% { --angleFX: 0deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	04.16% { --angleFX: 15deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	08.32% { --angleFX: 30deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	12.48% { --angleFX: 45deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	16.64% { --angleFX: 60deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	20.80% { --angleFX: 75deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	24.96% { --angleFX: 90deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	29.12% { --angleFX: 105deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	33.28% { --angleFX: 120deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	37.44% { --angleFX: 135deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	41.60% { --angleFX: 150deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	45.76% { --angleFX: 165deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	49.92% { --angleFX: 180deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	54.08% { --angleFX: 195deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	58.24% { --angleFX: 210deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	62.40% { --angleFX: 225deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	66.56% { --angleFX: 240deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	70.72% { --angleFX: 255deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	74.88% { --angleFX: 270deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	79.04% { --angleFX: 285deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	83.20% { --angleFX: 300deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	87.36% { --angleFX: 315deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	91.52% { --angleFX: 330deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	95.68% { --angleFX: 345deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	100.0% { --angleFX: 360deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
}


:root {
	--dark: rgb(11, 11, 14);
	//--dark: rgb(19, 20, 27);
  --red: hsl(0, 100%, 80%);
  --yellow: hsl(62, 100%, 80%);
  --green: hsl(122, 100%, 80%);
  --blue: hsl(179, 100%, 80%);
  --purple: hsl(238, 100%, 80%);
  --pink: hsl(302, 100%, 80%);


}


